.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.hidden{
    display: none;
}

.list-group-item{
    border-style: solid;
    padding: 3px;
}

.list-group  {
    display: flex;
    list-style-type: none;
}

.list-group li {
    padding: 10px;
}

.fade-block{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(127, 255, 212, 0.5);
}

.modal-window{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 5px;
}