@import url(./reset.css);

body{
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 700;
}

.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background: #1b1b1b;
    transition: left 0.4s ease;
}

.sidebar--show{
    left: 0px;
}

.sidebar .sidebar__text{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    background: #1e1e1e;
}

nav ul {
    background: #1b1b1b;
    width: 100%;
    height: 100%;
}

nav ul li{
    line-height: 60px;
    border-bottom: 2px solid rgb(59, 56, 56);
}

nav ul li a{
    position: relative;
    color: #FFFFFF;
    font-size: 18px;
    padding-left: 40px;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li a:hover{
    color: cyan;
    background: #1e1e1e;
    border-left-color:  cyan;
}

.hidden{
    display: none;
}
nav ul ul{
    position: static;
}

nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

/* Рисуем стрелку для dropDown кнопки*/
.dropdown-btn::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    /*Рисуем стрелку*/
    width: 0;
    height: 0;
    border-width: 10.4px 6px 0 6px;
    border-color: #565d6b transparent transparent transparent;
    border-style: solid;

    /*Снимает клик с треугольника*/
    pointer-events: none;
}

.sidebar-btn{
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    border-radius: 20px;
    background: #000000;
    cursor: pointer;
    transition: left 0.4s ease;
}


.menu-icon-wrapper {
    --icon-width: 25px;
    --icon-heigth: 3px;
    width: var(--icon-width);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.menu-icon{
    position: relative;
    width: var(--icon-width);
    height: var(--icon-heigth);
    background-color: #ffffff;
}

.menu-icon::after,
.menu-icon::before{
    position: absolute;
    left: 0;
    content: "";
    width: var(--icon-width);
    height: var(--icon-heigth);

    background-color: #ffffff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after{
    top: 10px; 
}

.menu-icon::before{
    top: -10px; 
}

.menu-icon.active{
    background-color: transparent;
}

.menu-icon.active::after{
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.active:before{
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}