@import url(./reset.css);

body{
    color:#080707;
}

.container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 15px;
}

.header{
    position: fixed;
    background-color: rgb(127, 182, 255);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    max-height: 100px;
}

.nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #FFFFFF;
    column-gap: 20px;
}

.nav__logo{
    font-size: 30px;
}

.nav__list {
    display: flex;
    font-size: 20px;
    column-gap: 50px;
}

.nav__list a {
    color: #FFFFFF;
}

.nav__list a:hover {
    color: #4b3a3a;
}

/* Мобильная навигация */

.nav__mobile {
    display: none;
}


.menu-icon-wrapper {
    --icon-width: 35px;
    --icon-heigth: 3px;

    width: var(--icon-width);
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon{
    position: relative;
    width: var(--icon-width);
    height: var(--icon-heigth);
    background-color: #FFFFFF;
}

.menu-icon::after,
.menu-icon::before{
    position: absolute;
    left: 0;
    content: "";
    width: var(--icon-width);
    height: var(--icon-heigth);

    background-color: #FFFFFF;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after{
    top: 10px; 
}

.menu-icon::before{
    top: -10px; 
}

.menu-icon.active{
    background-color: transparent;
}

.menu-icon.active::after{
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.active:before{
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


@media (max-width: 767px) {
    .nav__mobile{
        display: block;
    }

    .nav{
        column-gap: 20px;
        padding: 10px;
    }

    .nav__logo{
        font-size: 24px;
    }

    .nav__list {
       display: none;
    }
    
    .nav.open .nav__list{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 46px 30px;
        background-color: rgb(81, 131, 196);

        display: flex;
        flex-direction: column;
        row-gap: 40px;
        font-size: 34px;
    }

    .nav.open .nav__mobile{
        display: block;
        position: fixed;
        top: 50px;
        right: 60px;   
    }

    .nav.open .nav__contact{
        display: none;
    }

    .no-scroll{
        overflow-y: hidden;
    }
}